
:root {

    /* set dimensions to camera resolution */
    --camera-width: 1304px;
    --camera-height: 976px;
}


body {
    font-family: helvetica;
    text-align: center;
    background-color: white;    
}


section {
    display: flex;
    flex-wrap: nowrap;
    
    width: 100%;
    margin: auto;
    
    justify-content: center;
    
    border-radius: 10px;
    padding: 2px;


    /* max-width: 1500px; */
    
    
}

.block {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 40%;
    height: 40%;
    padding: 20px;
    margin: 10px;
   

    background-color: whitesmoke;
    border: 2px solid lightgray;
    border-radius: 10px;

}


.img-panel {


    border-radius: 10px;
    width: 100%;
    height: 100%;

    
    max-width: var(--camera-width);
    max-height: var(--camera-height);

    /* min-width: calc(0.25 * var(--camera-width) );
    min-height: calc(0.25 * var(--camera-height) ); */
}





/* section {
    display: inline-block;
    background-color: whitesmoke;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    margin: 0.5%;
} */
.small-section {
    vertical-align: middle;
    display: inline-block;
    background-color: whitesmoke;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    margin: 0.5%;
    width: 40%;
    height: 300px;

}
.wide-section {

    width: 84%;
    display: inline-block;
    background-color: whitesmoke;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    margin: 0.5%;
}
















p {
    font-size: smaller;
}
.timestamp {
    font-size: smaller;
    font-style: italic;
    color: slategray;
}


.logo {
    border-radius: 10px;
    width: 100%;
}



.img-radar {
    background-image: url("https://maps-basemap.pelmorex.com/styles/twn-light-v2/static/-97.17474286,49.85377727,7/638x200@2x.webp");
    background-size: contain;

    width: 638px;
    height: 200px;
    object-fit: contain;
    border-radius: var(--component-border-radius, 0.3em);
}








@media only screen and (max-device-width: 600px){

    section, .wide-section, .small-section {
    
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    
      padding: 10px 5px;
      background-color: whitesmoke;
      border: 2px solid lightgray;
      border-radius: 10px;  
    }

    .logo {
        border-radius: 10px;
        width: 1000%;
        height: 1000%;
    }
}