:root {
    /* global variables (modify these ONLY) */
    
    --max-width: 2000px;
    --min-section-width: 500px;
    --primary-colour: gainsboro;
    --secondary-colour: rgba(211, 211, 211, 0.5);
    --section-colour: whitesmoke;
}

body {

    /* cosmetics */
    font-family: helvetica;
    text-align: center;
    background-color: var(--primary-colour);   
}

/* allows section elements to flex dynamically */
.container {

    /* flex properties */
    display: flex;
    flex-wrap: wrap;

    /* align items inside the container */
    justify-content: center;

    /* limits page width on larger displays */
    max-width: var(--max-width);

    /* used to center the container */
    margin: 15px auto;  
    width: 98%; 

    /* cosmetics */
    padding: 8px;
    background-color: var(--background-colour); 
    border-radius: 10px;
    /* border: 1px solid darkgray; */
}

/* main content area */
section {
    /* determines starting width of section element */
    flex: 1 1 calc(50% - 40px);

    /* prevents sections from getting too small - if threshold is met flex wrap will be applied */
    min-width: var(--min-section-width);

    box-sizing: border-box; 
    margin: 5px 5px;
    padding: 25px;
    background-color: var(--section-colour);
    border: 2px solid gray;
    border-radius: 10px;    
    box-shadow: 0px 0px 5px black;
    text-align: left;
}

.title {
    text-align: center;
    padding-bottom: 10px;
    font-size: large;
    margin-top: 0;
}

#sqm-data {
    text-align:center;
}


.inner-container { 
    display: flex;
    flex-wrap: wrap;

    width: 100%; 
    justify-content:center;
}

.block {
    box-sizing: border-box; 
    /* will take up at least 25% of parent container element */ 
    min-width: 25%; 
}

.block-legend {
    box-sizing: border-box; 
    border: 1px solid gray;
    text-align: center;
    justify-content: center;
    padding: 10px;

    width: 25%; 
    display: flex; 
    flex-wrap: wrap;
}
.legend-text {
    width: 100px; 
    padding: 5px;
    
}


/* .block-med {
    box-sizing: border-box;  */

    /* will take up at least 50% of parent container element */ 
    /* min-width: 50%;  */
    /* text-align: left;
} */
.block-full {
    box-sizing: border-box; 

    /* will take up at least 50% of parent container element */ 
    min-width: 100%; 
}
.inner-block {
    box-sizing: border-box; 
    /* margin: 20px; */
    text-align: left;
}

.break {
    box-sizing: border-box; 
    width: 100%;
    height: 20px;
}


.camera-tile {
    padding: 10px; 
    text-align: center;
}


.current, .current-full {
    /* border: 5px solid var(--primary-colour); */
    /* border: 2px inset var(--secondary-colour); */
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--secondary-colour);

    
    /* width: 48%; */

}
.current {
    width: calc(50% - 10px);
    margin: 5px;
    

}
.current-full {
    width: 100%;
    /* justify-content:center; */
}


h2.curr-label {
    margin: 5px 5px 15px 5px;
    padding-left: 10px;
}
h3.curr-label {
    margin: 0;
    margin-bottom: 5px;    
}

.inner-container-hourly {
    display: flex;
    width: calc(100% - 175px);
    overflow-x: scroll;
    background-color: white;
}
.block-hourly {
    box-sizing: border-box; 
    min-width: 80px;
    text-align: center;
}
#hourly-labels {
    width: 175px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hourly-label {
    padding-left: 10px;
    border-top: 1px solid gray;
    box-sizing: border-box;

    /* value based on the blocks created inside hourly-small; found using browser inspection tool */
    line-height: 38px;      
}

.inner-container-hourly::-webkit-scrollbar {
    background-color: lightgray;
    height: 10px;
}
.inner-container-hourly::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}


#hourly-hour-label:hover {
    background-color: blue;
}

.cam-label {
    margin-top: 15px;
    margin-bottom: 10px;
}


p, a {
    display: inline;
    font-size: large;
}

h3 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    padding: 5px 15px;
    font-size: small;
    border: 1px solid gray;
    border-radius: 10px;
}
button:hover {
    opacity: 80%;
}
button:active {
    transform: translateY(2px);
}

a.button {
    margin: 10px;
    padding: 6px 6px;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    background-color: lightblue;
    text-align: center;
    box-shadow: 0 0 5px black;
}
a.button:hover {
    opacity: 80%;
}
a.button:active {
    transform: translateY(2px);
}

img {
    width: 100%;
    border-radius: 5px;
}
.img-radar {
    background-image: url("https://maps-basemap.pelmorex.com/styles/twn-light-v2/static/-97.17474286,49.85377727,7/638x200@2x.webp");
    background-size: contain;
    width: 100%;
}
.logo {
    border-radius: 10px;
    height: 50px;
} 



@media only screen and (max-device-width: 500px){

    section {
        flex: 1 1 calc(50% - 40px);
        box-sizing: border-box;
        min-width: 300px; 
        margin: 10px 10px;
        padding: 15px;
        background-color: var(--section-colour);
        border: 2px solid lightgray;
        border-radius: 10px;
        box-shadow: 0px 0px 20px gray;    
    }

    #hourly-labels {
        display: none;
    }

    .inner-container-hourly {
        display: flex;
        width: 100%;
        overflow-x: scroll;
        background-color: white;
    }
}