<head>

    <title>Glenlea LAP</title>

    
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS config -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">

</head>

<body>
    
    <h1>Glenlea Live Allsky Portal</h1>

    
    <!--div id="content">

        <section class="col-2" id="outdoor-camera">
            <img src="https://bbs.astronomy-imaging-camera.com/assets/files/2022-08-09/1660067314-867993-img-0435.jpeg" alt="Outdoor Camera">
            <h3>Outdoor Camera View<h3>
        </section>
    
        <section  class="col-2" id="indoor-camera">
            <img src="https://bbs.astronomy-imaging-camera.com/assets/files/2022-08-09/1660067314-867993-img-0435.jpeg" alt="Indoor Camera">
            <h3>Indoor Camera View<h3>
        </section>
    
        <section  class="col-2" id="weather-data">
            <img src="http://astro.physics.umanitoba.ca/sqm/dm.png" alt="GAO data">
        </section>
           
    </div-->


    
        


    <section id="outdoor-camera">
        <img class="img-panel" src="https://bbs.astronomy-imaging-camera.com/assets/files/2022-08-09/1660067314-867993-img-0435.jpeg" alt="Outdoor Camera">
        <h3>Outdoor Camera View<h3>

    </section>

    <section id="indoor-camera">
        <img class="img-panel" src="https://bbs.astronomy-imaging-camera.com/assets/files/2022-08-09/1660067314-867993-img-0435.jpeg" alt="Indoor Camera">
        <h3>Indoor Camera View<h3>
    </section>


    <section class="other-section" id="current-position">
        Coordinates: ...
    </section>

    <section class="other-section" id="sqm-data">
        <img class="img-panel" src="http://astro.physics.umanitoba.ca/sqm/dm.png" alt="GAO data">
        <a href="http://astro.physics.umanitoba.ca/sqm/server.out">Download data log: GAO</a>
        <br>
        <img class="img-panel" src="http://astro.physics.umanitoba.ca/sqm/dm2.png" alt="">
        <a href="http://astro.physics.umanitoba.ca/sqm/server2.out">Download data log: ECO</a>
    </section>

    <section class="wide-section" id="weather-data">
        <img class="img-panel" src="https://www.cleardarksky.com/c/Winnipegcsk.gif?c=1126848" alt="ICSC data">
    </section>


    <!--section class="wide-section" id="current-position">
        Coordinates: ...
    </section>


    <section class="small-section" id="weather-data">
        <img class="img-panel" src="https://www.cleardarksky.com/c/Winnipegcsk.gif?c=1126848" alt="ICSC data">
    </section>

    <section class="small-section" id="sqm-data">
        <img class="img-panel" src="http://astro.physics.umanitoba.ca/sqm/dm.png" alt="GAO data">
        <a href="http://astro.physics.umanitoba.ca/sqm/server.out">Download data log: GAO</a>
        <br>
        <img class="img-panel" src="http://astro.physics.umanitoba.ca/sqm/dm2.png" alt="">
        <a href="http://astro.physics.umanitoba.ca/sqm/server2.out">Download data log: ECO</a>
    </section-->

    
</body>