<head>

    <title>Glenlea LAP</title>

    
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS config -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">


    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

</head>

<body>
    
    <img src="https://umanitoba.ca/themes/custom/umanitoba/images/logo.svg" style="width:5%; height:5%;" alt="logo">
    <h1>Glenlea Live Allsky Portal</h1>

    



    <!-- testing -->

    




    <div id = "update"> </div>

    <img id="image1" src="https://www.cleardarksky.com/c/GlenleaObMBcsk.gif?c=1728046" alt="">
    

    <script>function() {
        
        document.getElementById("image1").src = "/static/indoor.png";
    }
    </script>

    <script type="text/javascript">

        

        var counter = 0;
        window.setInterval(function(){
            $("#update").load("/" + counter);
            counter++;

            document.getElementById("image1").src = "/static/indoor.png";

    }, 5000)

</script>

    
    <!-- end testing -->


    

    <section id="outdoor-camera">
        <img class="img-panel" src="/static/indoor.png" alt="Outdoor Camera">
        <h3>Outdoor Camera View<h3>
        <p class="timestamp">Last updated 2024/06/13 @ 03:20:14pm (updates every 30s)</p>
    </section>

    <section id="indoor-camera">
        <img class="img-panel" src="/static/indoor.png" alt="Indoor Camera">
        <h3>Indoor Camera View<h3>
        <p class="timestamp">Last updated 2024/06/13 @ 03:20:14pm (updates every 10s)</p>
    </section>

    <section class="small-section" id="current-position">
        <h3>Current Position<h3>
        <p>Coordinates?</p>
        <p>Exposure time?</p>       
    </section>

    <section class="small-section" id="sqm-data">
        <h3>Sky Quality<h3>
        <img class="img-panel" src="http://astro.physics.umanitoba.ca/sqm/dm.png" alt="GAO data">
        <a href="http://astro.physics.umanitoba.ca/sqm/server.out">Download data log: GAO</a>
        <br>
        <img class="img-panel" src="http://astro.physics.umanitoba.ca/sqm/dm2.png" alt="">
        <a href="http://astro.physics.umanitoba.ca/sqm/server2.out">Download data log: ECO</a>
    </section>

    <section class="wide-section" id="weather-data">
        <h3>Forecast<h3>
        <img class="img-panel" src="https://www.cleardarksky.com/c/GlenleaObMBcsk.gif?c=1728046" alt="ICSC data">
    </section>


    <!--section class="wide-section" id="current-position">
        Coordinates: ...
    </section>


    <section class="small-section" id="weather-data">
        <img class="img-panel" src="https://www.cleardarksky.com/c/Winnipegcsk.gif?c=1126848" alt="ICSC data">
    </section>

    <section class="small-section" id="sqm-data">
        <img class="img-panel" src="http://astro.physics.umanitoba.ca/sqm/dm.png" alt="GAO data">
        <a href="http://astro.physics.umanitoba.ca/sqm/server.out">Download data log: GAO</a>
        <br>
        <img class="img-panel" src="http://astro.physics.umanitoba.ca/sqm/dm2.png" alt="">
        <a href="http://astro.physics.umanitoba.ca/sqm/server2.out">Download data log: ECO</a>
    </section-->

    
</body>