body {
    font-family: helvetica;
    text-align: center;
    background-color: whitesmoke;    
}

h1 {
    margin: 2rem;
}

.timestamp {
    font-size: smaller;
    font-style: italic;
    color: slategray;
}
p {
    font-size: smaller;
}

a {
    vertical-align: middle;
}

.img-panel {
    border-radius: 10px;
    width: 100%;
}

section {
    display: inline-block;
    background-color: lightgray;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    margin: 0.5%;
}

.other-section {
    vertical-align: middle;
    display: inline-block;
    background-color: lightgray;
    border-radius: 10px;


    padding: 20px;

    /* padding: 10px 20px; */


    width: 40%;
    margin: 0.5%;
    height: 300px;
}

.small-section {
    vertical-align: middle;
    display: inline-block;
    background-color: lightgray;
    border-radius: 10px;
    padding: 20px;
    margin: 0.5%;
    width: 40%;
    height: 350px;

}

.wide-section {

    width: 84%;
    display: inline-block;
    background-color: lightgray;
    border-radius: 10px;
    padding: 20px;
    margin: 0.5%;
}